<button color="primary" mat-raised-button (click)="addAd()">add</button>
<table
  mat-table
  [dataSource]="dataSource"
  matSort
  matSortActive="status"
  matSortDirection="desc"
>
  <ng-container [matColumnDef]="column" *ngFor="let column of dataKeys">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>
      <label *ngIf="column != 'action' && column != 'select'">{{
        column
      }}</label>
      <mat-checkbox
        (click)="$event.stopPropagation()"
        (change)="$event ? masterToggle() : null"
        [checked]="selection.hasValue() && isAllSelected()"
        [indeterminate]="selection?.hasValue() && !isAllSelected()"
        [aria-label]="checkboxLabel()"
        color="accent"
        *ngIf="column == 'select'"
      >
      </mat-checkbox>
    </th>
    <td mat-cell *matCellDef="let element">
      <ng-container *ngIf="column == 'select'">
        <mat-checkbox
          (click)="$event.stopPropagation()"
          (change)="$event ? selection.toggle(element) : null"
          [checked]="selection.isSelected(element)"
          [aria-label]="checkboxLabel(element)"
          color="primary"
        >
        </mat-checkbox>
      </ng-container>
      <ng-container *ngIf="column == 'image'">
        <img
          [src]="element[column]"
          *ngIf="element[column]"
          style="height: 100px; width: 300px"
        />
      </ng-container>
      <ng-container *ngIf="column == 'video'">
        <video
          [src]="element[column]"
          *ngIf="element[column]"
          height="200"
          controls
        ></video>
      </ng-container>
      <ng-container *ngIf="column != 'image' && column != 'video'">
        <label> {{ element[column] }}</label>
      </ng-container>
      <div *ngIf="column == 'action'">
        <a (click)="viewAd($event, element)">View </a>
        <a (click)="deleteAd($event, element)"><mat-icon> delete</mat-icon> </a>
      </div>
    </td>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="dataKeys; sticky: true"></tr>
  <tr mat-row *matRowDef="let row; columns: dataKeys"></tr>
</table>
<mat-paginator
  [pageSizeOptions]="[5, 10, 25]"
  pageSize="5"
  showFirstLastButtons
></mat-paginator>
