<div class="form_wrapper">
  <h1>LOGIN</h1>
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <mat-form-field>
      <mat-label>E-mail</mat-label>
      <div>
        <span
          ><input
            type="text"
            matInput
            formControlName="email"
            [disabled]="loading"
            (input)="show_error = false"
        /></span>
        <mat-spinner diameter="20" *ngIf="loading"></mat-spinner>
      </div>
      <mat-error *ngIf="loginForm.get('email')?.hasError('email')">
        Please enter a valid email address
      </mat-error>
      <mat-error *ngIf="loginForm.get('email')?.hasError('required')">
        Email is <strong>required</strong>
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Password</mat-label>
      <div>
        <span
          ><input
            type="password"
            matInput
            formControlName="password"
            [disabled]="loading"
            (input)="show_error = false"
        /></span>
        <mat-spinner diameter="20" *ngIf="loading"></mat-spinner>
      </div>
      <mat-error *ngIf="loginForm.get('password')?.hasError('required')">
        Password is <strong>required</strong>
      </mat-error>
    </mat-form-field>
    <div *ngIf="show_error">E-mail or Password incorrect</div>
    <div>
      <button mat-raised-button [disabled]="loginForm.invalid" color="accent">
        Log in
      </button>
    </div>
  </form>
</div>
